Здраво {{ user.first_name }}{{ user.organizacija.naziv }}<br>
Кликните на следећи линк како бисте подесили нову шифру.<br>
<br>
<br>
{{ protocol }}://{{ domain }}{% url "password_reset_confirm" uidb64=uid token=token %}<br>
<br>
Oвај линк мжете употребити само једном. Ако желите поново да промените шифру, молимо Вас да креирате нови захтев.
Игноришите овај имајл ако нисте Ви покренули захтев за промену лозинке.<br>
<br>
Ваше корисничко име, у случају да сте га заборавили, је: {{ user.username }}<br>
<br>
Поздрав!