{% extends 'Portal_Za_Volontiranje.html' %}

{% block body %}
<h4><strong>Ресетовање лозинке</strong></h4>
<p>
    Ако сте заборавили своју шифру, унесите своју имајл адресу у поље испод и добићете инструкције за подешавање нове.
</p>



<form method="POST">
    {% csrf_token %}
    <input class="form-control" type="email" name="email" autocomplete="email" maxlength="254" required="" id="id_email">
    <br>
    <center>
    <input class="button btn btn-success" type="Submit" name="Пошаљите имејл" value="Пошаљите имејл">
    </center>
</form>

{% endblock %}