{% extends 'Portal_Za_Volontiranje.html' %}

{% block body %}

<h4><strong>Ресетовање лозинке</strong></h4>


<p>Унесите своју нову шифру два пута, како бисмо били сигурни да је нисте погрешили</p>

<form method="post"><input type="hidden" name="csrfmiddlewaretoken" value="{{ user.username }}">
    {% csrf_token %}
    <fieldset class="module aligned">

        <div class="form-row field-password1 m-2">

            <label for="id_new_password1">Нова шифра:</label>
            <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required=""
                   id="id_new_password1" placeholder="Унесите нову шифру">
        </div>
        <div class="form-row field-password2 m-2">

            <label for="id_new_password2">Потврдите нову шифру:</label>
            <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required=""
                   id="id_new_password2" placeholder="Потврдите нову шифру">
        </div>
        <input class="button btn btn-success m-2" type="submit" value="Промените шифру">
    </fieldset>
</form>


<br class="clear">

{% endblock %}