{% extends "Portal_Za_Volontiranje.html" %}
{% block title %}
O nama
{% endblock %}
{% block body %}

<p class="oNama">
                Ми смо организација основана 2015. Наша идеја је да окупимо што већи број људи добре воље и помогнемо онима којима је помоћ потребна!
                Бесплатан рад и помоћ локалној заједници у виду волонтирања у разним организацијама доноси не само добар осећај и благодет за душу, већ и бројна
                искуства, знања и контакте који особи која волонтира могу изузетно користити. Постоји велики број институција које окупљају волонтере,
                а њихове области деловања су различите. По укупном броју волонтера можемо бити поносни на наше суграђане, којих има од омладинског узраста
                до оних у средњим и позним годинама.
                Ми сарађујемо са бројиним организацијама из Србије и иностранства, организујемо међународне радне кампове, подстичемо и учествујемо у бројим
                међународним омладинским разменама, семинарима, конференцијама, едукативним програмима, хуманитарним акцијама, фестивалима и разним кутурним
                дешавањима.
                Тежимо да се волонтерски рад препозна и прихвати као средство за развој појединца као и друштва кроз организовање волонтерских акција и ширењем
                добробити волонтирања међу људима.Наша визија је да створимо стабилно друштво у коме се свако од нас може слободно кретати, имати једнаке
                могућности за образовање и приступ информацијама, засновано на солидарности, миру, љубави, ненасилној комуникацији, поштујући разлике и
                живот у хармонији са природом.
        </p>
        <br>
        <p class="oNama">Шта је волонтерски рад и зашто волонтирати?</p>

        <p class="oNama">
            Како бисмо дошли до одговора на питање: “Зашто волонтирати?”, важно је да прво представимо шта је оно што
            се подразумева под синтагмом “волонтерски рад”. Израз волонтирање долази нам из класичног језика –
            латинског. Свој корен термин проналази у лат. волунтас (лични избор, слободна воља).
            Сада када знамо да волонтирање значи израз слободне воље, време је да сазнамо шта је то волонтерски рад.
            Волонтерски рад је ангажовање појединца или групе људи, на основу личног избора и добровољности, да
            пружају услуге или обављају активности од општег интереса, за опште добро или добро других људи.
            Волонтерски рад не подразумева новчану, нити било какав други тип накнаде. Постоји Закон о волонтирању који
            ближе одређује правну перспективу волонтирања. Волонтерски рад се обично обавља у хуманитарним,
            невладиним, верским и социјалним организацијама.
        </p>
        <br>
        <p class="oNama">Значај волонтирања</p>

        <p class="oNama">
            Предности волонтирања заиста су бројне, а мане које неки у њему виде своде се само на једну – недостатак
            накнаде. Ипак, да ли накнада може бити само новчана? Пуно је ствари које се добијају волонтерским радом, а
            ево само неких од њих:
            Позитивно утиче на каријеру, стварање радне навике, сазнавање нових ствари, стицање искуства...
        </p>

{% endblock %}

